<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head>

<title>故障记录</title>
</head>
<body>
  <div style="width:100%;min-width:680px;height:80px;line-height:80px;background:#484848;color:#EFEFEF;font-size:16px;font-weight:bold">
    <div style="width:auto;margin-left:20px;float:left">故障记录表</div>
    <div style="width:auto;float:right;margin-right:30px">
      <!-- <button style="border:1px" name="bb" type="button" onclick="window.location='/task_per'">看看大家</button> -->
      <button style="border:1px" name="bb" type="button" onclick="window.location='/'">主页</button>
      <button style="border:1px" name="bb" type="button" onclick="window.location='/add_fault'">新增故障</button>
      <!-- {% if cuser.groupname == 'admin' %}
            <button style="border:1px" name="bcccb" type="button" onclick="window.location='/shenpi'" >审批任务</button>
      {% endif %} -->
      <!-- <button style="border:1px" name="bb" type="button" onclick="window.location='/add_task'" >新增任务</button> -->
      <button style="border:1px" name="bc" type="button" onclick="window.location='/logout'" >注销</button>
      {{cuser.chinese_name}}
    </div>
  </div>
  <div style="width:1500px;margin: 30px auto; 0 auto">
    <div style="float:left;margin-left:10px;">{{date}}</div>
    <button style="border:1px;float:right;margin-right:10px;" name="bb" type="button" onclick="window.location='/show_faults?ago={{ week }}&download=true'">导出表</button>
    <button style="border:1px;float:right;margin-right:10px;" name="bb" type="button" onclick="window.location='/show_faults?ago={{ ago_week }}'">上一月</button>
    {% if next_week >= 0 %}
    <button style="border:1px;float:right;margin-right:10px;" name="bb" type="button" onclick="window.location='/show_faults?ago={{ next_week }}'">下一月</button>
    {% endif %}
      <table style="font-size: 14px;width:100%;border-collapse:collapse;border: 2px #dfdfdf solid;" border="1">
        <tr><th height="30" width="5%"><div style="float:left;text-align:right">上报时间</div></th><th height="30" width="5%">局点名称</th><th height="30" width="5%">产品</th><th width="5%">故障设备IP</th><th height="30" width="5%">故障类型</th>
          <th height="30" width="40%">故障信息描述</th><th height="30" width="20%">处理方法</th><th width="5%">处理人</th>
        </tr>
        {% csrf_token %}
        {% for fault in fault_infos %}
          <tr>
              <td height="30" width="330">
                <div style="width:90px;float:left;text-align:left">{{fault.create_time}}</div>
              </td>
              <td>
                {{fault.point}}
              </td>
              <td>{{fault.product}}</td><td>{{fault.fault_device}}</td><td>{{fault.fault_type}}</td><td>{{fault.info}}</td><td>{{fault.method}}</td><td>{{fault.deal_chinese_name}}</td>
          </tr>
        {% endfor %}
      </table>
  </div>
</body>
</html>
