<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head>
<title>新增设备</title>
</head>
<body>
  <div style="width:100%;min-width:680px;height:80px;line-height:80px;background:#484848;color:#EFEFEF;font-size:16px;font-weight:bold">
    <div style="width:auto;margin-left:20px;float:left">新增设备</div>
    <div style="width:auto;float:right;margin-right:30px">
      {{username}}
    </div></div>
    <div style="width:520px;margin: 30px auto; 0 auto">
      <form method = 'post' action="/add_device_info" enctype="multipart/form-data">
        {% csrf_token %}
        <table style="width:100%" >
          <tr><td style="width:25%">设备品牌:</td><td style="height:5px"><input type="text" name="brands" maxlength="100" ></td></tr>
          <tr><td style="width:25%">设备型号:</td><td style="height:5px"><input type="text" name="MODEL" maxlength="100" ></td></tr>
          <tr><td style="width:25%">设备序列号:</td><td style="height:5px"><input type="text" name="serial_numbers" maxlength="100" ></td></tr>
          <tr><td style="width:25%">CPU:</td><td style="height:5px"><input type="text" name="cpu" maxlength="100" ></td></tr>
          <tr><td style="width:25%">内存:</td><td style="height:5px"><input type="text" name="ram" maxlength="100" ></td></tr>
          <tr><td style="width:25%">存储:</td><td style="height:5px"><input type="text" name="storage" maxlength="100" ></td></tr>
          <tr><td style="width:25%">网卡:</td><td style="height:5px"><input type="text" name="nic" maxlength="100" ></td></tr>
          <tr><td style="width:25%">设备数量:</td><td style="height:5px"><input type="text" name="count" maxlength="100" ></td></tr>
          <tr><td style="width:25%">设备所有者:</td><td style="height:5px"><input type="text" name="attri" maxlength="100" ></td></tr>
          <tr><td style="width:25%">局点:</td><td><div style="height:25px;">
            <select name="point">
              {% for point in points %}
                <option value="{{point.id}}">{{point.point_name}}</option>
              {% endfor %}
            </select></div></td></tr>
          <tr><td style="width:25%">设备用途:</td><td style="height:5px"><input type="text" name="usage" maxlength="100" ></td></tr>
          <tr><td style="width:25%;hight:200px">备注：</td><td style="height:200px"><textarea name="info" rows="10" cols="55" ></textarea></td></tr>
          <tr><td colspan="2" align="center"><input type="submit" onclick="{if(confirm('确认提交？'))
          {window.location='/show_faults';return true;}return false;}" value="提交"></td></tr>
        </table>
      </form>
    </div>
</body>
</html>
