<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
      html,body{
        padding: 0;margin: 0
      }
      table{ border-collapse:collapse; }
      td{ border:#ccc solid 1px; padding:5px 5px 0 5px; }
      input[type="text"]{
        width: 140px;
      }
      select{
        width: 60px
      }
    </style>
</head>
<body>
<div style="width:100%;min-width:680px;height:80px;line-height:80px;background:#484848;color:#EFEFEF;font-size:16px;font-weight:bold">
  <div style="width:auto;margin-left:20px;float:left">提交数据</div>
  <div style="width:auto;float:right;margin-right:30px">{{username}}</div>
</div>
{% csrf_token %}
<div style="width:660px;margin: 30px auto; 0 auto">
  <form method = 'post' action="/post" enctype="multipart/form-data">
    <input type="hidden" name='user' value="{{username}}" />
    <table style="width:100%">
      {% for out,out_a in outs.items %}
        <tr>
            <td height="30" width="330"><div style="width:90px;float:left;text-align:right">{{out_a}}:</div><div style="width:90px;height:30px;margin-left:90px"><input type="text" name="{{out}}" value="" /></div></td>
            <td><div style="width:160px;float:left;text-align:right">出口状态:</div><div style="width:90px;height:30px;margin-left:160px"><select name="{{out}}_status"><option value="0">正常</option><option value="1">不正常</option></select></div></td>
        </tr>
      {% endfor %}
        <tr><td colspan="2" align="center"><input type="submit" value="提交"></td></tr>
    </table>
  </form>
</div>
</body>
</html>
